{% extends "base.html" %}

{% block titulo %}
  {{ curso.sigla }}
{% endblock %}

{% block conteudo %}
  <h1>{{ curso.nome }}</h1>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text">{{ curso.sobre }}</p>
    </div>
    <ul class="list-group list-group-flush">
      {% for sem in curso.semestres %}
        <li class="list-group-item">
            {{ sem }}
        </li>
      {% endfor %}  
      {% for dof in disciplinas_ofertadas%}
        <li class="list-group-item">
          <a href="{% url 'disciplina' curso.sigla dof.disciplina.identificador %}" class="card-link">
            {{ dof.disciplina.identificador }} - {{ dof.disciplina }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}