body {
    font-family: "Arial";
}

#header .bg {
    background: linear-gradient(#E9EEF2, #E6EBEF);
    min-height: 300px;
    text-align: center;
}

#header .bg h1 {
    padding: 1.5em 0 0 0;
    font-size: 3em;
}

#footer {
    background: #333333;
    color: #ffffff;
    text-align: center;
}

.btn {
    padding: 12px 15px;
    border-radius: 30px;
    background: #ececec;
    text-decoration: none;
    border: 1px solid #ececec;
}

.btn.btn-blue {
    background: #267df4;
    border: 1px solid #267df4;
    color: #ffffff;
}

.title {
    text-align: center;
}

.justify{
    text-align: justify;
    margin-left: 4cm;
    margin-right: 4cm;
    margin-bottom: 0.5cm
}

.center {
    text-align: center;
    font-weight: bold;
}

.color {
    color: #267df4
}
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: steelblue,
}